<div id="AmazonPayButton"></div>
<script type="text/javascript">
  var authRequest;
  OffAmazonPayments.Button("AmazonPayButton", "<%= Spree::AmazonPayments::Config['seller_id'] %>", {
    type: "PwA",
        authorization: function() {
      loginOptions =
        {scope: "profile payments:widget payments:shipping_address", popup: true};
      authRequest = amazon.Login.authorize (loginOptions, "<%= amazon_login_url %>");
    },
    onError: function(error) {
      // your error handling code
    }
  });
</script>